ultimate_agent/.venv/*
***/__pycache__/*
ultimate_agent/ai/inference/__pycache__/__init__.cpython-310.pyc
ultimate_agent/ultimate_agent_config.ini
ultimate_agent/ultimate_agent_id.txt
ultimate_agent/ultimate_agent.db
*/*venv/*
enhanced_node/*venv/*
enhanced_node/venv/*
Node/logs/enhanced_node_server_advanced.log
Node/enhanced_node_server.db
enhanced_node/logs/advanced_remote_control.log
enhanced_node/logs/enhanced_node_server_advanced.log
enhanced_node/logs/task_control.log
venv/*
enhanced_node/logs/advanced_remote_control.log
enhanced_node/logs/enhanced_node_server_advanced.log
enhanced_node/logs/task_control.log

